@use "../base/typographys";

@mixin michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin orbitron-bold {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


$color-primary: rgb(164, 164, 164);
$color-secondary: rgba(35, 35, 35, 0.19);
$color-accent: rgb(231, 49, 49);

$color-antique-gold: #B1954F;
$color-old-antique-gold: #453D27;
$color-light-antique-gold: #ACA175;
$color-golden-twilight: #CBA135;
$color-blue-eidolon: #5FA3B0;
$color-cetus-rock: #3A312B;

$color-white: #FAF9F2;
$color-black: #0E0E15;

$color-overlay: rgba(0, 0, 0, 0.5);