{% if results is empty %}
    <div class="empty">Aucun résultat trouvé pour votre recherche.</div>
{% else %}
    <ul class="results-list">
        {% for item in results %}
            <li class="result-item">
                <div class="result-title">{{ item.name }}</div>
            </li>
        {% endfor %}
    </ul>
{% endif %}