{% extends 'base.html.twig' %}

{% block title %}{{ 'home'|trans }}{% endblock %}

{% block body %}
    <div id="home" class="container margin-navbar">
        <div class="home">
            {% include 'partials/_search.html.twig' %}
        </div>
    </div>
{% endblock %}
