@use "../abstracts/variables" as v;

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0 auto;
    @include v.michroma-regular;
    background: v.$color-cetus-rock;
    color: v.$color-white;
}

main {
    width: 100%;
}

section {
    margin-top: 6rem;
}

h4 {
    @include v.orbitron-bold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: v.$color-black;
    font-size: 0.8rem;
}