@use "../abstracts/variables" as v;

.legal-page {
    max-width: 800px;
    margin: 8rem auto;
    padding: 2rem;
    text-align: center;
}

.golden-twilight {
    color: v.$color-golden-twilight;
}

@mixin separator(
    $orientation: vertical,
    $side: left,
    $offset: -25px,
    $top: 25px,
    $height: 80%,
    $border-color: v.$color-blue-eidolon,
    $shadow-color: v.$color-old-antique-gold
) {
    content: "";
    position: absolute;

    @if $orientation == vertical {
        top: $top;
        #{$side}: $offset;
        height: $height;
        width: 0;
        border-left: 2px solid $border-color;
        box-shadow: 0 0 10px 4px $shadow-color;
    }

    @else if $orientation == horizontal {
        left: $top;
        top: $offset;
        width: $height;
        height: 0;
        border-top: 2px solid $border-color;
        box-shadow: 0 0 10px 4px $shadow-color;
    }
}

@mixin dropdown-container($margin-right: 0) {
    position: relative;
    display: block;
    margin-right: $margin-right;

    &:hover {
        cursor: pointer;
    }
}

@mixin dropdown-list($translate-x: -45%, $translate-y: 2%) {
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3.75px solid v.$color-blue-eidolon;
    background-color: v.$color-old-antique-gold;
    box-shadow: 0 0 10px 7px v.$color-old-antique-gold;
    transform: translate($translate-x, $translate-y);
}
