@use "../abstracts/variables" as v;

@mixin menu-button(
    $font-size: 0.8rem,
    $uppercase: false,
    $padding-x: 10px,
    $padding-y: 10px
) {
    display: inline-block;
    background-color: v.$color-old-antique-gold;
    border-bottom: solid 3.75px v.$color-golden-twilight;
    transition: all 0.2s ease-in-out;

    a {
        display: block;
        padding: $padding-y $padding-x;
        color: v.$color-white;
        font-size: $font-size;
        text-transform: if($uppercase, uppercase, none);
    }

    &:hover {
        background-color: v.$color-antique-gold;
        border-bottom: solid 3.75px v.$color-blue-eidolon;

        a {
            color: v.$color-white;
            text-shadow: 0 0 10px v.$color-black;
        }
    }

    &:active {
        border-bottom: solid 3.75px v.$color-blue-eidolon;
    }
}

.btn-menu-navbar {
    @include menu-button(1rem, true, 15px);
}

.btn-menu {
    @include menu-button(0.8rem, true);
}

.btn-menu-dropdown {
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding: 7.5px 10px 8px 10px;
    background-color: v.$color-old-antique-gold;
    border-top: solid 3.75px v.$color-golden-twilight;
    border-bottom: solid 3.75px v.$color-golden-twilight;

    transition: all 0.2s ease-in-out;

    svg {
        font-size: 1rem;
        transition: transform 0.2s ease-in-out;
    }
}

.btn-menu-dropdown:hover,
.btn-menu-dropdown.dropdown-open {
    background-color: v.$color-antique-gold;
    border-top: solid 3.75px v.$color-blue-eidolon;
    border-bottom: solid 3.75px v.$color-blue-eidolon;

    li {
        color: v.$color-white;
        text-shadow: 0 0 10px v.$color-black;
    }
}

.language-dropdown-toggle:hover svg,
.language-dropdown-toggle.dropdown-open svg,
.theme-dropdown-toggle:hover svg,
.theme-dropdown-toggle.dropdown-open svg {
    transform: rotate(180deg);
}

.cta {
    padding: 1rem 1.5rem;
    color: v.$color-white;
    background-color: v.$color-primary;
    border: solid 3px v.$color-primary;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.cta:hover {
    background-color: v.$color-secondary;
}

.btn {
    //background-image: url("");
    background-size: contain;
    background-repeat: round;
}

.btn-nav {
    padding: 10px 1rem 14px;
    //background-image: url("");
    background-size: cover;
    background-repeat: round;
}

.btn-home {
    //background-image: url("");
    background-size: cover;
    background-repeat: round;
    padding: 10px 1rem 14px;
}

.btn-nav:hover,
.btn-nav:focus,
.btn-home:hover,
.btn-home:focus,
.btn:hover,
.btn:focus {
    //background-image: url("");
}

.btn-alt {
    color: v.$color-white;
    text-shadow: 1px 1px 0 v.$color-primary, -1px -1px 0 v.$color-primary, 1px -1px 0 v.$color-primary, -1px 1px 0 v.$color-primary;
    font-weight: bold;
    padding: 10px 1rem 14px;
    //background-image: url("");
    background-size: contain;
    background-repeat: round;
    cursor: pointer;
}

.btn-alt:hover,
.btn-alt:focus {
    //background-image: url("");
}

.btn-warming {
    padding: 10px 2rem 14px;
}

.reset-btn {
    flex: 0 0 auto;
    padding: 9px 12px 16px;
    cursor: pointer;
    background-color: transparent;
    //background-image: url("");
    background-size: contain;
    background-repeat: round;
    border: none;
    color: v.$color-white;

    .redo-icon {
        text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    }
    transition: all 0.2s ease-in-out;
}

.reset-btn:hover {
    //background-image: url("");
}