@use "sass:color";
@use "../abstracts/variables" as v;

@keyframes shake {
    0% { transform: translateX(0); }
    33% { transform: translateX(-6px); }
    66% { transform: translateX(6px); }
    100% { transform: translateX(0);}
}

@mixin form-basique($width: 50%) {
    position: relative;
    width: $width;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    color: v.$color-black;
    background-size: 453px 100%;
    background-position: left top;
    background-repeat: no-repeat;
}

@mixin warming() {
    .warming {
        margin-bottom: 5rem;
        min-width: 360px;
        width: 100%;
        max-width: 675px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .alert {
            background-color: color.adjust(v.$color-secondary, $lightness: -10%);
            padding: 1rem;
            border-radius: 6px 6px 0 0;
            border: solid 3px v.$color-primary;
            text-align: center;
        }

        .mb-3 {
            width: 100%;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            height: 64px;
            //background-image: url("");
            background-size: calc(100% + 10px) 100%;
            background-position: -5px;
            @include v.orbitron-bold;
            text-shadow: 1px 1px 0 v.$color-black, -1px -1px 0 v.$color-black, 1px -1px 0 v.$color-black, -1px  1px 0 v.$color-black;
            font-size: 0.95rem;
            text-align: center;
            color: v.$color-primary;
            span {
                width: 60%;
            }
            a {
                color: v.$color-white;
            }
        }
    }
}

@mixin mix($width: 100%) {
    .mix {
        width: $width;
        display: flex;
        justify-content: center;
        align-items: start;

        .headline {
            text-align: center;

            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(18px);
            border: 1px solid rgba(255, 255, 255, 0.1);
            padding: 1rem;
            border-radius: 1rem;
            width: 70%;

            mask-image: linear-gradient(to right, transparent, v.$color-black 20%, v.$color-black 80%, transparent);
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;

            .text-headline {
                color: v.$color-blue-eidolon;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 0.14rem;
                text-shadow: 1px 1px 0 v.$color-black, -1px -1px 0 v.$color-black, 1px -1px 0 v.$color-black, -1px  1px 0 v.$color-black;
            }
            .text-subheadline {
                color: v.$color-blue-eidolon;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 0.14rem;
                text-shadow: 1px 1px 0 v.$color-black, -1px -1px 0 v.$color-black, 1px -1px 0 v.$color-black, -1px  1px 0 v.$color-black;
            }
        }
    }
}

@mixin input-label-effect() {
    span {
        width: 100%;
        display: block;
        margin-bottom: 1.15rem;
        position: relative;
        text-shadow: 1px 1px 0 v.$color-black, -1px -1px 0 v.$color-black, 1px -1px 0 v.$color-black, -1px  1px 0 v.$color-black;

        label {
            width: 100%;
            height: 50px;
            padding-top: 12px;
            color: v.$color-golden-twilight;
            @include v.orbitron-bold;
            font-size: 0.75rem;
            letter-spacing: .08rem;
            text-transform: uppercase;
            display: inline-block;
            transform: translateY(1.1rem);
            //background-image: url("");
            background-size: calc(100% + 10px) 100%;
            background-position: -5px;
            text-align: center;
            transition: 0.15s ease;
            span:last-child {
                margin: -5px 0 0;
                padding: 0 4rem 0;
            }
        }

        .input-reset-inline {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            input {
                flex: 1 1 auto;
            }
        }

        input, textarea {
            flex: 1;
            width: 100%;
            text-align: center;
            padding: 10px;
            border: none;
            border-bottom: 3.75px solid v.$color-golden-twilight;
            @include v.orbitron-bold;
            color: v.$color-white;
            text-shadow: 1px 1px 0 v.$color-black, -1px -1px 0 v.$color-black, 1px -1px 0 v.$color-black, -1px  1px 0 v.$color-black;
            background-color: transparent;
            outline: none;
            resize: none;
        }

        input:focus-visible,
        select:focus-visible,
        textarea:focus-visible{
            outline: none;
            border-bottom-color: color.adjust(v.$color-white, $lightness: 20%);
        }
    }

    .selecte, #image {
        label {
            transform: translate(0, 0);
        }
    }

    input[type="file"] {
        padding: 3px 0 10px 0;
        &::-webkit-file-upload-button {
            background-color: transparent;
            color: v.$color-accent;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        &::-webkit-file-upload-button:hover {
            background-color: v.$color-accent;
            color: v.$color-white;
        }

        &::file-selector-button {
            background-color: v.$color-old-antique-gold;
            color: v.$color-white;
            border-top: none;
            border-left: none;
            border-bottom: 3.75px solid v.$color-golden-twilight;
            border-right: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        &::file-selector-button:hover {
            background-color: v.$color-antique-gold;
            text-shadow: 0 0 10px v.$color-black;
            border-bottom-color: v.$color-blue-eidolon;
        }
    }

    input[type=submit] {
        padding: 10px;
        color: v.$color-white;
        background-color: v.$color-old-antique-gold;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom: solid 3.75px v.$color-golden-twilight;
        @include v.orbitron-bold;
        transition: all 0.2s ease-in-out;

        &:hover {
            text-shadow: 0 0 10px v.$color-black;
            background-color: v.$color-antique-gold;
            border-bottom: solid 3.75px v.$color-blue-eidolon;
        }
    }

    .inputs--filled label {
        transform: translate(0, 0);
    }


    .inputs--invalid input,
    .inputs--invalid textarea {
        border-bottom: 4px solid v.$color-accent;
        color: v.$color-accent;
        animation: shake 0.3s both ease-in-out;

        &::file-selector-button {
            text-shadow: 0 0 10px v.$color-black;
            color: v.$color-accent;
            border-top: none;
            border-left: none;
            border-bottom: 3.75px solid v.$color-accent;
            border-right: none;
        }

        &::file-selector-button:hover {
            color: v.$color-white;
            background-color: v.$color-antique-gold;
            text-shadow: 0 0 10px v.$color-black;
            border-bottom-color: v.$color-accent;
        }
    }

    .inputs--invalid select {
        border-top: 3.75px solid v.$color-accent;
        border-bottom: 3.75px solid v.$color-accent;
    }

    .inputs--invalid label {
        color: v.$color-accent;
    }

    .form-error {
        padding: 5px;
        text-align: center;
        border-right: 1px solid v.$color-accent;
        border-bottom: 1px solid v.$color-accent;
        border-left: 1px solid v.$color-accent;
        color: v.$color-accent;
    }
}

.form-background {
    background-image: url("/public/assets/images/form/form.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 7.5% top;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;


    @include warming();
    .form {
        @include form-basique();
        margin-left: auto;
        margin-right: 2rem;
        max-height: none;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .form-content {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mix();

            .all-form {
                overflow: hidden;
                padding: 0 5%;
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                //background-image: url("");
                background-size: calc(100% + 10px) 100%;
                background-repeat: no-repeat;
                background-position: -5px;

                @include input-label-effect();

                .spliter {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 2rem;

                    .left {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 48%;

                    }
                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        width: 48%;

                    }
                }
            }
        }
    }
}

@media screen and (min-width:1991px) {
    .form-background {
        background-size: contain;
        background-position: center;
    }
    #form {
        .form {
            width: 35%;
        }
    }
}

@media screen and (min-width: 1400px) {
    .form-background{
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width:1125px) {
    #form {
        .form {
            width: 95%;
            .mix {
                .headline {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .form-background {
        background-position: 24.3% top;
    }
    
    #form {
        min-height: auto;
        padding: 1rem 0 3rem 0;

        .form {
            width: 100%;
            flex-direction: column;
            background-size: 100% 80%;
            max-height: none;
            height: auto;


            .form-content {
                .mix {
                    width: 100%;
                }

                .all-form {
                    padding: 10%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        text-align: center;

                        input {
                            text-align: center;
                        }
                    }

                    .spliter {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2rem;

                        .left {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 100%;

                        }
                        .right {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 100%;

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    #form {
        .form {
            .form-content {
                .all-form {
                    .form-group {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .form-error {
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:364px) {
    #form {
        .form {
            .form-content {
                .all-form {
                    padding: 0;

                    span:first-child {
                        padding-top: 14%;
                    }
                    span {
                        padding: 0 10%;
                    }
                    input[type=submit] {
                        margin-bottom: 80px;
                    }
                }
            }
        }
    }
}