@use "../abstracts/variables" as v;
@use "../base/utilities" as u;

@keyframes show-content {
    0% {
        opacity: 0;
    }
    100% {
       opacity: 1;
   }
};

@keyframes dont-show-content {
    0% {
        opacity: 1;
    }
    100% {
       opacity: 0;
   }
};

#footer {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer {
        margin-top: 3rem;
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer-content {
            margin-top: 1rem;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr minmax(auto, 309px) 1fr;
            grid-template-areas: "left middle right";
            column-gap: 2rem;
            align-items: flex-start;
        }

        .footer-link,
        .footer-propo,
        .footer-language_theme_copyright {
            width: 100%;
        }

        .footer-link {
            grid-area: right;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
            }
        }

        .footer-language_theme_copyright {
            grid-area: middle;
            max-width: 309px;
            margin: 0 auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            .footer-language_theme {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 1rem;

                .footer-language {
                    .dropdown-language {
                        @include u.dropdown-container(0);

                        .dropdown-language-list {
                            @include u.dropdown-list(0%, -40%);
                        }
                    }
                }

                .footer-theme {
                    .dropdown-theme {
                        @include u.dropdown-container(0);

                        .dropdown-theme-list {
                            @include u.dropdown-list(0%, -40%);
                        }
                    }
                }
            }

            .footer-copyright {
                width: 100%;
                font-size: 0.8rem;
                padding: 0 1rem;
                text-align: center;
                color: v.$color-golden-twilight;
                border: solid 1px v.$color-blue-eidolon;
            }

            &::before {
                @include u.separator(vertical, left);
            }

            &::after {
                @include u.separator(vertical, right);
            }
        }

        .footer-propo {
            grid-area: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: right;

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }
        }

        .footer-disclaimer {
            margin: 2rem 0;
            width: 100%;
            text-align: center;
        }

        .logo-footer-container {
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13%;
            border-radius: 40%;
            border-bottom: 1px solid v.$color-blue-eidolon;
            transition: all 0.2s ease-in-out;
        }

        .logo-footer-container:hover {
            width: 14%;
            border-bottom: 1px solid v.$color-golden-twilight;
        }
    }
}

@media screen and (min-width:1921px) {
    #footer {
        .footer {
            .footer-content {
                column-gap: 3rem;
            }
            .logo-footer-container {
                width: 8%;
            }
            .logo-footer-container:hover {
                width: 9%;
            }
        }
    }
}

@media screen and (max-width:1312px) {
    #footer {
        .footer {
            width: 98%;

            .footer-content {
                grid-template-columns: 35% 28.4% 35%;
                column-gap: 0.5rem;
            }
        }
    }
}

@media screen and (max-width:1275px) {
    #footer {
        .footer {
            width: 95%;
            text-align: center;

            .footer-content {
                grid-template-columns: 1fr;
                grid-template-areas:
                    "left"
                    "middle"
                    "right";
                row-gap: 2rem;

                .footer-link {
                    ul {
                        align-items: center;
                    }
                }

                .footer-propo {
                    text-align: center;
                    ul {
                        align-items: center;
                    }
                }
            }

            .footer-language_theme_copyright {
                width: 100%;

                &::before {
                    @include u.separator(horizontal, left, 0, 0, 100%);
                }

                &::after {
                    @include u.separator(horizontal, right, 263px, 0, 100%);
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #footer {
        .footer {
            .logo-footer-container {
                width: 20%;
            }
            .logo-footer-container:hover {
                width: 21%;
            }
        }
    }
}

@media screen and (max-width:525px) {
    #footer {
        .footer {

        }
    }
}

@media screen and (max-width:453px) {
    #footer {
        .footer {
            .logo-footer-container {
                width: 45%;
            }
        }
    }
}