// Pages
@use "pages/home";
@use "pages/faq";
@use "pages/support";

//Layouts
@use "layout/header";
@use "layout/footer";

// Components
@use "components/buttons";
@use "components/form";

// Abstracts
@use "abstracts/variables";

// Bases
@use "base/base";
@use "base/utilities";
@use "base/typographys";