@use "../abstracts/variables" as v;
@use "../base/utilities" as u;

#faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .faq {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .list-faq-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .list-faq {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1rem;
            }
        }

        .faq-content {
            width: 100%;
            position: relative;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            &::before {
                @include u.separator(horizontal, left, -15px, 0, 100%);
            }
        }

        p, ul {
            padding-left: 1rem;
        }

        #contact {
            margin-left: 1rem;
        }
    }
}