@use "../abstracts/variables" as v;

#home {
    .home {
        margin-top: 13rem;

        .search-container {
            .search-results-container {
                .results-list {
                    display: flex;
                    flex-direction: column;
                    .results-content {

                    }
                }
            }
        }
    }
}